<h2><?php echo $this->escape($this->title); ?></h2>

<div id="diary-form">

	<div id="emoticon"></div>
	
	<?php
		echo $this->form;
		if($this->rejMessage){
			echo $this->rejMessage;
		}
	?>
	<div id="slider"></div>
</div>

<script type="text/javascript" src="<?= $this->baseUrl(); ?>/script/dzienniczek"></script>