
    <h2><?php echo $this->escape($this->title); ?></h2>

	<?= '<img src="'.$this->baseUrl().'/photo/mini/id/'.$this->user->id.'.jpg" class="l-float" />' ?>
	<div class="user-info">
		<ul>
			<li>imię: <?= $this->user->imie; ?></li>
			<li>nazwisko: <?= $this->user->nazwisko; ?></li>
			<li>email: <a href="<?= $this->baseUrl()."/comm/send/?mailto=".$this->user->email ?>"><?= $this->user->email; ?></a></li>
			<li>lekarz prowadzący: <?= $this->doctor; ?></li>
		</ul>
	</div>
	
	<hr />
	<h2>Wykres ciśnienia</h2>
	<div id="cisnienie" style="width:600px;height:300px;"></div>
	
	<h2>Wykres samopoczucia</h2>
	<div id="samopoczucie" style="width:600px;height:300px;"></div>
	
	<h2>Wykres tętna</h2>
	<div id="tetno" style="width:600px;height:300px;"></div>
	
<?php

	if($this->dane != null){
		
		?>
		
<script type="text/javascript">
	
	
	$(function () {
	
			
		var skurcz = [<?php 
		
			$i=1;
			foreach($this->dane2 as $one){
				$temp = new DateTime($one->data);
				echo "[".$temp->format('U')*1000 .",".$one->cisskurcz."],";
				$i++; 
			} 
		
		?>];
   
		var rozkurcz = [<?php

			$i=1;
			foreach($this->dane2 as $one){ 
				$temp = new DateTime($one->data);
				echo "[".$temp->format("U")*1000 .",".$one->cisrozkurcz."],";
				$i++; 
			} 
		
		?>];
    
		var samopocz = [<?php

			$i=1;
			foreach($this->dane2 as $one){ 
				$temp = new DateTime($one->data);
				echo "[".$temp->format("U")*1000 .",".$one->samopoczucie."],";
				$i++; 
			} 
		?>];
		
		var tetno = [<?php

			$i=1;
			foreach($this->dane2 as $one){ 
				if($one->tetno != 0){
					$temp = new DateTime($one->data);
					echo "[".$temp->format("U")*1000 .",".$one->tetno."],";
					$i++; 
				}
			} 
		?>];
		
		var options1 = {
			series: { lines: { show: true }, shadowSize: 0 },
			xaxis:  { 
                mode: "time",
				monthNames: ["Sty", "Lut", "Mar", "Kwi", "Maj", "Cze", "Lip", "Sie", "Wrz", "Paź", "Lis", "Gru"],
				dayNames: ["pn", "wt", "śr", "cz", "pt", "so", "n"]
				}				
		};
		
		var options2 = {
			
			series: { lines: { show: true }, shadowSize: 0 },
			xaxis:  { 
                mode: "time",
				monthNames: ["Sty", "Lut", "Mar", "Kwi", "Maj", "Cze", "Lip", "Sie", "Wrz", "Paź", "Lis", "Gru"],
				dayNames: ["pn", "wt", "śr", "cz", "pt", "so", "n"]
				},
			yaxis: {
				min: 0,
				max: 100,
				tickFormatter: function(val,axis) {
					return val.toFixed(axis.tickDecimals)+ '%';
				}
			}
				
			};

		$.plot($("#cisnienie"), [ 
			
			{ data: skurcz,label:"Ciśnienie skurczowe",points: { show: true } ,color: 'red'}, 
		
			{data: rozkurcz,label:"Ciśnienie rozkurczowe",points: { show: true },color: 'blue'} 
		],options1);
		

		$.plot($("#samopoczucie"), [

		{ data: samopocz, label: "Samopoczucie",points: { show: true }} ],options2);
		
		$.plot($("#tetno"), [

		{ data: tetno, label: "tętno",points: { show: true },color: ''} ],options1);
	

	});
</script>
		<h2>Dane dzienniczka</h2>
		
		<?php		
		
		echo '<table class="shaded-table shaded-table-padding">';
	
		echo
		"<tr>".
			"<th>L.P.</th>".
			"<th>Data</th>".
			"<th>Ciśnienie</th>".
			"<th>Tętno</th>".
			"<th>Sampopczucie</th>".
			"<th>Uwagi:</th>".
		"</tr>";
		$i = 1;
		foreach($this->dane as $dana){
		
			echo "<tr>";
			
			echo "<td>".$i."</td>";
			echo '<td class="small">'.Rafyco_Template::data(new DateTime($dana->data),false)."</td>";
			echo "<td>".$dana->cisskurcz."/".$dana->cisrozkurcz."</td>";
			if($dana->tetno == 0){
				$tetno = '-';
			} else {
				$tetno = $dana->tetno;
			}
			echo "<td>".$tetno."</td>";
			echo "<td>".$dana->samopoczucie."</td>";
			
			if(count($this->tresc) > 50){
				echo "<td>".$this->escape(substr($dana->tresc,0,50))."...</td>";
			} else {
				echo "<td>".$this->escape($dana->tresc)."</td>";		
			}
			echo "</tr>";
			$i++;
		}	
		
		echo "</table>";
	}
	

?>


<?= $this->paginationControl($this->dane, 'Sliding', './paginator.phtml'); ?>



<h2 id="leki">Lekarstwa</h2>

<?php
	echo '<table class="shaded-table shaded-table-padding">';

	echo "<tr>";
	echo "<th>L.P.</th>";
	echo "<th>Data</th>";
	echo "<th>Nazwa leku</th>";
	echo "<th>Rodzaj</th>";
	echo "<th>Dawka</th>";
	//echo "<th></th>";
	echo "</tr>";
$i=1;	
foreach($this->leki as $lek){
	echo "<tr>";
	
	echo "<td>".$i."</td>";
	echo "<td>".Rafyco_Template::data(new DateTime($lek->data),false)."</td>";
	echo "<td>".$lek->nazwa."</td>";
	echo "<td>".$lek->rodzaj."</td>";
	echo "<td>".$lek->ilosc."</td>";
	
	
	echo "</tr>";
	$i++;
}

echo "</table>";

echo $this->paginationControl($this->leki, 'Sliding', './paginator.phtml');
?>


<a href="javascript:window.print()">Drukuj</a>
