
    <h2><?php echo $this->escape($this->title); ?></h2>

	<div id="calendar"></div>
	
	<script type="text/javascript" src="<?= $this->baseUrl(); ?>/script/calendar"></script>

	<h2 id="med">Leki do pobrania</h2>
	
	<?php
		$leki = new Application_Models_Lekarstwa();
		
		if($leki->getToHaveCount($this->identity->id) > 0){
		
			$odp = $leki->getToHave($this->identity->id);
			
			echo "<table>";
			echo "<tr>";
			echo "<th>L.p.</th>";
			echo "<th>Nazwa</th>";
			echo "<th>Data</th>";
			echo "<th>Akcje</th>";
			echo "</tr>";
			$i=1;
			
			foreach($odp as $one){
				
				echo "<tr>";
				echo "<td>$i.</td>";			
				echo "<td>".$one->nazwa."</td>";			
				echo "<td>".Rafyco_Template::data(new DateTime($one->data),false)."</td>";			
				echo "<td><a href=\"".$this->baseUrl()."/board/acceptmed/id/".$one->idPrzyjmowania."\" >potwierdź</a></td>";
				echo "</tr>";
			
			}	
			echo "</table>";
		}
	
	
	?>