
    <h2><?php echo $this->escape($this->title); ?></h2>

	<p> Jeśli chcesz udostępnić swoje konto znajomemu, lub komuś z rodziny wpisz jego email w pole poniżej. Możesz udostępniać swoje konto osobom, które posiadają konto widza. W przeciwnym razie dostaną oni wiadomość o założeniu specjalnego konta do oglądania Twojego profilu.
<?php
	echo $this->form;

	if($this->dane != null){
		echo "<hr /><h2>Udostępniam konto:</h2><table>";
		$i=1;
		foreach($this->dane as $dana){
			
			echo "<tr>";
			echo "<td>".$i."</td>";
			echo "<td><img src=\"".Application_Models_Photo::getMini($dana->id)."\" /></td>";
			echo "<td><a href=\"".$this->baseUrl()."/index/show/id/".$dana->id."\" >".$dana->imie." ".$dana->nazwisko."</a></td>";
			echo "<td><a href=\"".Rafyco_Template::email($dana->email)."\" >".$dana->email."</a></td>";
			
			echo "<td><a href=\"".$this->baseUrl()."/board/deludst/id/".$dana->id."\" >przestań udostępniać</a></td>";
			
			
			echo "</tr>";			
			$i++;
		}
		
		echo "</table>";
		echo $this->paginationControl($this->dane, 'Sliding', './paginator.phtml');
	}
?>