<h2><?php echo $this->escape($this->title); ?></h2>

<?php

if($this->paginator != null){

?>

	<table class="shaded-table">
	
	<?php
	
	foreach($this->paginator as $dana) {
		
		echo "<tr>";
		
			echo
			'<td class="avatar" ><img src="'.Application_Models_Photo::getMini($dana->id).'" /></td>'.
			'<td class="name" ><a href="'.$this->baseUrl().'/index/show/email/'.$dana->email.'" title="Kliknij, aby zobaczyć profil użytkownika" >'.$dana->imie.'<br />'.$dana->nazwisko.'</a></td>'.
			'<td class="email" ><a href="'.Rafyco_Template::email($dana->email).'" title="Kliknij, aby napisać wiadomość do tego użytkownika" >'.$dana->email.'</a></td>'.
			'<td class="small" >'.Rafyco_Template::rola($dana->rola).'</td>';
			
			if($dana->isOne==1 && $dana->isTwo==1){
				// Przyjaciel potwierdzony
				echo '<td class="small" >Jesteście przyjaciółmi!</td>';
			} else if($dana->isOne==1 && $dana->isTwo == 0){
				// Oczekiwanie na potwierdzenie
				echo '<td class="small" >Oczekwianie na potwierdzenie</td>';
			} else {
				// Prosi mnie o potwierdzenie
				echo '<td><a href="'.$this->baseUrl().'/friend/add/id/'.$dana->id.'" >Zaakceptuj zaproszenie</a></td>';
			}
		
			echo '<td class="remove" ><a href="'.$this->baseUrl().'/friend/del/id/'.$dana->id.'" ><img src="'.$this->baseUrl().'/public/images/remove-icon.png" title="Usuń znajomego" /></a></td>';

		echo "</tr>";
	}
	
	?>
	
	</table>
	
	<?= $this->paginationControl($this->paginator, 'Sliding', './paginator.phtml') ?>
	
	<div id="friends-search-form" >
		<h2>Wyszukiwarka znajomych</h2>		
		<?= Application_Form_SelSurgery::getSearche() ?>
	</div>
	
<?php

}

?>