
var komentarze = {
	
	getUserAvatar: function(userId) {
		return healthcom.url+'/photo/mini/id/'+userId;
	},
	
	getUserProfileUrl: function(userId) {
		return healthcom.url+'/index/show/id/'+userId;
	},
	
	insertComments: function(data, threadId, page) {
		
		var content = '';
		
		for (i=0; i<data.n; i++) {
			comment = data[i];
			content += 
			'	<div class="comment">'+
			'		<img class="avatar" src="'+komentarze.getUserAvatar(comment.idAutora)+'" alt="Awatar '+comment.alias+'" />'+
			'		<div class="comment-content">'+
			'			<h5>'+
			'				<a href="'+komentarze.getUserProfileUrl(comment.idAutora)+'" >'+comment.alias+'</a>'+
			'			</h5>'+
						comment.tresc+
			'		</div>'+
			'		<div class="clear" ></div>'+
			'	</div>';
		};
		
		if (data.pagx < data.pagn) {
			$('#thread-'+threadId+' .comments-more').unbind('click').click(function (){
				komentarze.loadComments(threadId, data.pagx+1);
			}).show();
		}
		
		$('#thread-'+threadId+' .comments-content').append(content);
		
	},
	
	loadComments: function(threadId, page) {
		jQuery('#thread-'+threadId+' .comments .loading').show();
		$('#thread-'+threadId+' .comments-more').hide()
		$.ajax({
			type: 'GET',
			url: healthcom.url+'/api/komment/id/'+threadId+'/p/'+page,
			dataType: 'json',
			success: function(data) {
				if (data.odp == 'OK' ) {
					jQuery('#thread-'+threadId+' .comments .loading').hide();
					komentarze.insertComments(data, threadId);
				}
			}	
		});
	},
	
	assignAction: function() {
		$('.thread-full .comments-switch a').unbind('click').click(function() {
			var threadId = $(this).attr('data-threadId');
			$('#thread-'+threadId+' .comments').fadeToggle();
			
			if ($(this).attr('data-loaded') == 0) {
				$(this).attr('data-loaded', '1');
				komentarze.loadComments(threadId, 1);
			}
		});
	}

}

var aktualnosci ={
	
	'i':null,
	myid: <?= $this->identity->id ?>,
	myrola: '<?= $this->identity->rola ?>',
	init:function(){

		
	},
	koment:function(id){
		<?php
			
			$form = new Application_Form_Koment();
			$form->setAction(Zend_Controller_Front::getInstance()->getBaseUrl().'/')->setMethod('post');
			
			$write = nl2br($form);
			
			$tab = explode("<br />",$write);
			
			echo "var dane = '".trim($tab[0])."'+\n";
			
			for($i=1,$n=count($tab);$i<$n;$i++){
				echo "'".trim($tab[$i])."'+\n";
			}
			
			echo "'';";
			
		?>
		dane = dane.replace(/name="idPosta" value="0"/g,'name="idPosta" value="'+id+'"');
		dane = dane.replace(/subKom_0/g,'subKom_'+id);
		
		return dane;
	},
	makeNew:function(dana,ktory,bool){
		console.log(dana, ktory);
		var wpis = '';
		
		wpis += 
		'	<div class="thread-full" id="thread-'+dana.id+'">'+
		'		<div class="thread">'+
		'			<img class="avatar" src="<?= $this->baseUrl() ?>/photo/mini/id/'+dana.idPac+'" alt="Awatar '+dana.imie+' '+dana.nazwisko+'"/>'+
		'			<div class="thread-content">'+
		'			<h4>'+
		'				<a href="<?= $this->baseUrl() ?>/index/show/id/'+dana.idPac+'">'+dana.imie+' '+dana.nazwisko+'</a>'+
		'				<span class="icons">';
					
						if(dana.ktozapisal != null){
							wpis += '<img src="<?= $this->baseUrl() ?>/public/images/api-logo.png" title="'+dana.ktozapisal+'" alt="'+dana.ktozapisal+'"  /> ';
						}
						if(aktualnosci.myid == dana.idPac || aktualnosci.myrola == 'admin'){
							wpis +=
								'<a class="del" data-id="'+dana.id+'" href="<?= $this->baseUrl(); ?>/board/del/id/"'+dana.id+'">'+
									'<img src="<?= $this->baseUrl(); ?>/public/images/remove-icon.png" title="Usuń ten wpis" />'+
								'</a>';
						}
						
		wpis +=
		'				</span>'+
		'				<span class="date">'+dana.data+'</span>'+
		'			</h4>'+
		'			<div class="thread-info">'+
						dana.tresc+
		'				<div class="thread-diary">'+
		'					<img src="'+healthcom.url+'/public/images/diaryfeel-'+ (Math.floor(dana.samopoczucie/20.01) + 1) +'.png" data-feel="'+dana.samopoczucie+'" />'+
		'					<ul>'+
		'						<li><b>Ciśnienie: </b>'+dana.skurczowe+'/'+dana.rozkurczowe+'</li>';
								if (dana.tetno != 0) {
		wpis += '					<li><b>Tętno: </b>'+dana.tetno+'</li>';
								}
		wpis +='				<li><b>Sampoczucie: </b>'+dana.samopoczucie+'%</li>'+
		'					</ul>'+			
		'				</div>'+
		'			</div>'+
		'		</div>'+
		'		<div class="clear" ></div>'+
		'	</div>'+
		'	<div class="comments-switch">'+
		'		<a data-loaded="0" data-threadId="'+dana.id+'" >Komentarze</a>'+
		'	</div>'+
		'	<div class="comments">'+
		'		<div class="comments-content"></div>'+
		'		<div class="comments-more" >Wczytaj więcej komentarzy</div>'+
		'		<div class="loading" >'+
		'			<img src="<?= $this->baseUrl() ?>/public/images/loading-48x48.gif" alt="Trwa wczytywanie" />'+
		'		</div>'+
				aktualnosci.koment(dana.id)+
		'	</div>'+
		'</div>';
		
		if(bool){
			$(wpis).insertBefore($("div.thread-full")[ktory]);
		} else {
			$(wpis).insertAfter($("div.thread-full")[ktory]);
		}
			
		komentarze.assignAction();
		
	},
	main:function(){
		
		$.ajax({
				type: "GET",
				url: healthcom.url+"/api/index/p/<?= $this->p ?>",
				dataType : 'json',
				success: function(dane){
					if(dane.odp == 'OK'){
						j=0;
						tab = new Array();
						for(i=dane.n-1;i>=0;i--){
							var temp = dane[i];
							var ob = $('#thread-'+temp.id);
							if(!ob.length){
								if(i==0){
									aktualnosci.makeNew(temp,0,true);
									healthcom.powiadom("wprowadzono nowy wpis");
								} else {
									aktualnosci.makeNew(temp,i,false);
								}
							}
							
							tab[j] = parseInt(temp.id.replace('thread-',""));
							j++;
						}
						
						var x = $('div.thread-full');
						
						for(i=x.length-1;i>=0;i--){
							if(tab.indexOf(parseInt(x[i].id.replace('thread-',''))) == -1 ){
								$(x[i]).animate({opacity: 0},2000,function(){
									$(this).hide();});
							}
						aktualnosci.deleter();
						
						}
					}
					
				}
				
			});
	
	},
	deleter:function(){
		$('a.del').unbind('click').click(function(){
			var one = $(this)[0].attributes['data-id'];
			var id = one.nodeValue;
			healthcom.quest('/board/del',id,function(id){
				$('#thread-'+id).animate({opacity: 0},2000,function(){$(this).hide();});
				//healthcom.powiadom('Usunięto wpis'); // Zaprogramowane na stronie do której wywołujesz ajaxa.
			});
			return false;
		});
	
	}
	
}

$(document).ready(function(){
	aktualnosci.init();
	aktualnosci.deleter();
	komentarze.assignAction();
	
	var aktualnosciTimeout;
	var aktualnosciInterval = setInterval(function() { aktualnosci.main() },15000);
	
	$(window).focus(function() {
		// odswiezenie aktualnosci jezeli user oglada strone przez min. 2s (aby zapobiec wielokrotnemu odswiezeniu przy szybkim przelaczaniu zakladek)
		aktualnosciTimeout = setTimeout(function() { aktualnosci.main() }, 2000);
		// odswiezanie co 15 s w przypadku gdy strona jest u usera otwarta
		aktualnosciInterval = setInterval(function() { aktualnosci.main() },15000);
	});
	$(window).blur(function() {
		// anulowanie pierwszego odswiezenia jesli okno blur przed uplywem 2s
		clearTimeout(aktualnosciTimeout);
		// anulowanie okresowego odswiezania
		clearInterval(aktualnosciInterval);
	});
});

