
var healthcom = {

	url: 'http://<?php echo $this->host.$this->baseUrl();?>',
	
	init: function(){
	
	
	},
	powiadom: function(text){
	
		var pow = $('<div class="message">'+text+'</div>');
		
		pow.insertAfter($('header *').last());
		
		setTimeout(function(){
		pow.animate({
			opacity: 0},2000,function(){pow.hide();});
		},5000);
	
	
	},
	quest: function(adres,id,success){
		healthcom.optionbox("Usuwanie wpisu","Czy na pewno chcesz usunąć ten wpis?", function() {
			console.log(healthcom.url+adres+'/id/'+id);
			$.ajax({
				type: "POST",
				url: healthcom.url+adres+'/id/'+id,
				dataType: "json",
				data : {
					id : id,		
					del : 'tak',
					display: 'json'
				},
				success: function(data){
					if(data.odp != 'OK'){
						healthcom.alert("Błąd", "Nie można poprawnie wykonać akcji");
					} else {
						if(success != null){
							success(data.id);
							setTimeout(kontakt.main,3000);
						}
					}
				}
			});
		});
	},
	
	optionbox: function(title, text, confirmCallback){
		var modalWindow = $('#dialog-window');
		modalWindow.attr('title', title);
		modalWindow.html(text);
		modalWindow.dialog({
			modal: true,
			buttons: {
        		"Tak": function() {
          			$( this ).dialog("close");
          			confirmCallback();
        		},
        		"Nie": function() {
          			$( this ).dialog("close");
        		}
      		}
		});
	},
	
	alert: function(title, text) {
		var modalWindow = $('#dialog-window');
		modalWindow.attr('title', title);
		modalWindow.html(text);
		modalWindow.dialog({
			modal: true,
			buttons: {
				"OK": function() {
					$(this).dialog("close");
				}
			}
		});
	}
	
	
}

var kontakt ={
	
	'i':null,
	
	init:function(){
	
		function reorganizePage() {
			$('#login-info').width($(window).width() - ($('nav').width() + 325));
			if ( $(window).width() < 850) {
				$('aside').hide();
				$('aside').addClass('aside-docked');
				$('#login-info-pre').hide();
				$('#aside-switch').css('visibility', 'visible');
				$('section').css('margin-left', 15 );
				if ( $(window).width() <600 ) {
					$('#login-info').hide();
				} else {
					$('#login-info').show();
				}
			} else {
				$('aside').show();
				$('aside').removeClass('aside-docked');
				$('#login-info-pre').show();
				$('#aside-switch').css('visibility', 'hidden');
				$('section').css('margin-left', 300 );
			}
		}
	
		reorganizePage();
		$('#aside-switch').click(function() {
			$('aside').slideToggle(600);
		});
		
		$(window).resize(function() {
			reorganizePage();
		});
		
		// miniaturki samopoczucia w aktualnosciach
		var feelImages = $('.thread-diary img');
		
		$.each(feelImages, function( index, val ) {
			$(val).attr('src', '<?= $this->baseUrl() ?>/public/images/diaryfeel-'+ (Math.floor($(val).data('feel')/20.01) + 1) +'.png')
		});
		
		//"<?= $this->baseUrl() ?>/public/images/diaryfeel-1.png"
		
		
	},
	refresh:function(liczba){
		if(kontakt.i == null)
			kontakt.i = liczba;
			
		if(kontakt.i==liczba){
			return;
		}
		
		
		
		if($('span.new-messages').length > 0 && liczba <= 0){
			$('span.new-messages').remove();
		} else if($('span.new-messages').length <= 0 && liczba > 0){
			// Wstaw wpis z message
			$('<span class="new-messages">'+liczba+'</span>').insertAfter($('li.nav-msg').find('ul'));
		} else {
			// Istnieje wpis i liczba większa niż 0
			$('span.new-messages').html(liczba);
		}
		
		if(kontakt.i < liczba){
			healthcom.alert("Nowa wiadomość", "Nadeszła nowa wiadomość");
			healthcom.powiadom("Otrzymałeś nową wiadomość");
		}
		
		kontakt.i = liczba;
		
	},
	getWiadomosci:function(){
		
		$.ajax({
				type: "GET",
				url: healthcom.url+"/api/messcount",
				dataType : 'json',
				success: function(dane){
					if(dane.odp == 'OK'){
						kontakt.refresh(dane.count);
					}
					
				}
				
			});
	
	},
	main:function(){
		
		$.ajax({
			type: "GET",
			url: healthcom.url+'/api/sessionmess',
			dataType: "json",
			
			success: function(data){
				if(data.odp != 'OK'){
					if(data.odp!= null){
					
						healthcom.powiadom(data.odp);
					}
				}
			}
			
		});

	}
	
}
	
$(document).ready(function(){
	

	kontakt.init();
	healthcom.init();
	setTimeout(function(){
		$('div.message').animate({
			opacity: 0},2000,function(){$(this).hide();});
	},5000);
	
	var wiadomosciTimeout;
	var wiadomosciInterval = setInterval(function() { kontakt.getWiadomosci() },15000);
	
	$(window).focus(function() {
		// odswiezenie aktualnosci jezeli user oglada strone przez min. 2s (aby zapobiec wielokrotnemu odswiezeniu przy szybkim przelaczaniu zakladek)
		wiadomosciTimeout = setTimeout(function() { kontakt.getWiadomosci() }, 2000);
		// odswiezanie co 15s w przypadku gdy strona jest u usera otwarta
		wiadomosciInterval = setInterval(function() { kontakt.getWiadomosci() },15000);
	});
	$(window).blur(function() {
		// anulowanie pierwszego odswiezenia jesli okno blur przed uplywem 2s
		clearTimeout(wiadomosciTimeout);
		// anulowanie okresowego odswiezania wiadomosci
		clearInterval(wiadomosciInterval);
	});

});

