<?php 
	// Zmiana layoutu na powitalny (wiekszy header, nieco inny uklad)
	$this->layout()->setLayout('welcome');
?>
	
<h2><?php echo $this->escape($this->title); ?></h2>
<p>Zmień swoje hasło:</p>

<?php echo $this->form;?>
	

