
    <h2><?php echo $this->escape($this->title); ?></h2>

<hr />
	<h3 id="elementry">Podstawowe dane</h3>
<?php echo $this->form_edit; ?>

<?php if($this->identity->rola == 'patient'){ ?>
	<hr />
	<h3 id="personal">Dane osobiste</h3>
	<?php echo $this->form_edit_pat; ?>
	<hr />
	<h3 id="doctor">Lekarz prowadzący</h3>
	<p><?php echo $this->form_set_doc_mess; ?></p>
	<?php echo $this->form_set_doc; ?>
<?php } ?>

<?php if($this->identity->rola == 'doctor'){ ?>
	<hr />
	<h3 id="personal">Dane osobiste</h3>
	<?php echo $this->form_edit_doc; ?>
<?php } ?>
	
<hr />
	<h3 id="hash">Zmiana hasła</h3>
<?php echo $this->form_edit_hash; ?>

<hr />
	<h3 id="acount">Ustawienia konta</h3>
<?php echo $this->form_ustawienia; ?>

<hr />
	<h3 id="avatar">Awatar</h3>
	<img src="<?php echo Application_Models_Photo::getPhoto($this->identity->id);?>" />
	<?php echo $this->formpht; ?>

<?php if($this->identity->rola != 'admin'){ ?>
<hr /> 
	<h3 id="delete">Usuwanie konta</h3>
	
		<p><a href="<?php echo Zend_Controller_Front::getInstance()->getBaseUrl();?>/index/deactive">Usuń konto</a><p>
<?php } ?>
	
	<?php print_r($this->display); ?>

