<?php 
	// Zmiana layoutu na powitalny (wiekszy header, nieco inny uklad)
	$this->layout()->setLayout('welcome');
?>
	
    <h2><?php echo $this->escape($this->title); ?></h2>
<p>Wpisz swój adres e-mail, którego używasz do logowania, a następnie oczekuj na wiadomość z dalszymi instrukcjami</p>
<p>Pamiętaj, aby proces logowania zakończyć w ciągu 3 godzin.</p>

<?php echo $this->form;?>
	

