<h2><?= $this->escape($this->title) ?></h2>

<div id="diary-form-lite">
	
	<?php
	
	if($this->identity->rola != 'viewer' ){
		echo $this->form;
	}
	
	?>
	
	<div class="clear"></div>
	
</div>

<?php

if($this->dane != null){

	foreach($this->dane as $index=>$dana){

	?>
	
		<div class="thread-full" id="thread-<?= $dana->idDzienniczka ?>">
			<div class="thread">
				<img class="avatar" src="<?= Application_Models_Photo::getMini($dana->idPacjenta) ?>" />
				<div class="thread-content">
					
					<h4>
						<a href="<?= $this->baseUrl() ?>/index/show/id/<?= $dana->idPacjenta ?>">
							<?= $dana->imie." ".$dana->nazwisko ?>
						</a>
						
						<span class="icons">
						
							<?php
							
							if($dana->ktozapisal != null) {
							
							?>
						
								<img src="<?= $this->baseUrl() ?>/public/images/api-logo.png" title="<?= $dana->ktozapisal; ?>" alt="<?= $dana->ktozapisal; ?>"  />
						
							<?php
							
							}
							
							if($dana->idPacjenta == $this->identity->id || $this->identity->rola == 'admin') {
							
							?>
							
								<a class='del' data-id='<?= $dana->idDzienniczka ?>' href="<?= $this->baseUrl(); ?>/board/del/id/<?= $dana->idDzienniczka ?>">
									<img src="<?= $this->baseUrl(); ?>/public/images/remove-icon.png" title="Usuń ten wpis" />
								</a>
							
							<?php
							
							}
							
							?>
							
						</span>
						
						<?php

							$data = new DateTime($dana->data);

						?>
						
						<span class="date"><?= Rafyco_Template::data($data) ?></span>
						<div class="clear" ></div>
					</h4>
					<div class="thread-info">
					
						<?php 
						if($dana->tresc != ""){
							$bbcode = Zend_Markup::factory('Bbcode');
							echo nl2br($bbcode->render($dana->tresc)); 
						}
						?>
				
						<?php
						
						if($dana->cisskurcz != 0 && $dana->cisrozkurcz != 0 && $dana->samopoczucie != 0){
						
						?>
							<div class="thread-diary">
								<img src="<?= $this->baseUrl() ?>/public/images/loading-48x48.gif" data-feel="<?= $this->escape($dana->samopoczucie); ?>" />
								<ul>
									<li><b>Ciśnienie:</b> <?= $this->escape($dana->cisskurcz."/".$dana->cisrozkurcz); ?></li>
									<?php if($dana->tetno != 0){ ?> 
									<li><b>Tętno:</b> <?= $this->escape($dana->tetno); ?></li>
									<?php } ?>
									<li><b>Sampoczucie:</b> <?= $this->escape($dana->samopoczucie); ?>%</li>
								</ul>			
							</div>
						
						<?php
						
						}
						
						?>
					</div>
				</div>
				<div class="clear" ></div>
			</div>
			<div class="comments-switch">
				<a data-loaded="0" data-threadId="<?= $dana->idDzienniczka ?>" >Komentarze</a>
			</div>
			<div class="comments">
				<div class='comments-content'></div>
				<div class="comments-more" >Wczytaj więcej komentarzy</div>
				<div class="loading" >
					<img src="<?= $this->baseUrl() ?>/public/images/loading-48x48.gif" />
				</div>
				<?= $this->form2[$dana->idDzienniczka]; ?>
			</div>
		</div>
		
	<?php
	
	}
	
	echo $this->paginationControl($this->dane, 'Sliding', './paginator.phtml');
	
}

?>
