<?php 
	// Zmiana layoutu na powitalny (wiekszy header, nieco inny uklad)
	$this->layout()->setLayout('welcome');
?>

<div id="login-left">
	<div id="banner-loader">
		<img src="<?= $this->baseUrl() ?>/public/images/loading-48x48.gif" />
	</div>
	<div id="banner-1" style="display: none">
		<div id="banner-1-images">
			<?php
			
			$test = Application_Models_Users::getMozaic();
			foreach ($test as $one) {
				echo '<img src="'.$this->baseUrl().'/photo/mini/id/'.$one->id.'" />';
			}
			
			?>
		</div>
		<div id="banner-1-text">
			<h3>Oni już korzystają z serwisu</h3>
			Dołącz do nich i zacznij dzielić się z innymi swoim stanem zdrowia!
		</div>
	</div>
	<div id="banner-2" style="display: none">
		<img src="<?= $this->baseUrl() ?>/public/images/stetoskop.jpg" />
		<div>
			<h3>Wypełnij swój wirutalny dzienniczek</h3>
			Korzystaj z możliwości serwisu wypełniając regularnie swój e-dzienniczek. Na jego podstawie Twój lekarz prowadzący może wyciągnąć wiele wniosków!
		</div>
	</div>
	<!--<img src="<?php echo $this->baseUrl();?>/public/images/lekarz-wita.jpg" /> -->
</div>

<div id="login-right">

	<h2><?php echo $this->escape($this->title); ?></h2>

	<?php
		echo $this->form;
		if($this->loginMessage){
			echo $this->loginMessage;
		}
	?>
	
	<p><a href="<?php echo $this->baseUrl();?>/index/registry">Nie mam konta</a> | 
	<a href="<?php echo $this->baseUrl();?>/index/forgot">Zapomniałem hasła</a></p>

</div>

