	
    <h2><?php echo $this->escape($this->title); ?></h2>

	<?php if(isset($this->gab['id'])) { ?>
		<form class="pytanie" action="<?= $this->formadres; ?>" method="post">
			<p>
			<?= $this->formpytanie; ?>
			</p>
			<div>
				<input type="hidden" name="id" value="<?php echo $this->gab['id']; ?>" />
				<input type="submit" name="del" value="tak" />
				<input type="submit" name="del" value="nie" />
				<input type="hidden" name="display" value="ekran" />
			</div>			
		</form>
	<?php } else { ?>
		<p><?= $this->formpytanie; ?></p>
	<?php } ?>

