<?php 
	$this->layout()->setLayout('welcome');
	$this->script = "<script type=\"text/javascript\" src=\"".$this->baseUrl()."/public/scripts/registration.js\"></script>\n";
?>

<div id="register-left">
	
    <h2><?php echo $this->escape($this->title); ?></h2>
	
	<p><span class="changer"></span></p>
	
	<?php
		echo $this->form;
		if($this->rejMessage){
			echo $this->rejMessage;
		}
	?>
	
</div>

<div id="register-right">
	<p><a href="<?= $this->baseUrl() ?>">Powrót do strony głównej <img src="<?= $this->baseUrl() ?>/public/images/return-icon.png" alt="Powrót do strony głównej" /></a></p>
	<img src="<?= $this->baseUrl() ?>/public/images/stetoskop.jpg" />
</div>
	

