<?php 
	// Zmiana layoutu na powitalny (wiekszy header, nieco inny uklad)
	$this->layout()->setLayout('welcome');
	if(isset($_GET['nolayout'])){
		$this->layout()->setLayout('window');
	}
?>	
	
    <h2><?php echo $this->escape($this->title); ?></h2>

	<p> Tekst regulaminu który musisz przestrzegać by korzystać z naszego serwisu</p>
	
	