<h2><?= $this->escape($this->title) ?></h2>
<div id="friends-search-form">
	<?= $this->form; ?>
</div>

<?php

if($this->dane != null){

?>
	
	<h2>Wyniki wyszukiwania</h2>
	<table class ="shaded-table" >
	
		<?php

		foreach($this->dane as $dana){
			echo '<tr>';
			
				echo
				'<td class="avatar" ><img src="'.$this->baseUrl().'/photo/mini/id/'.$dana->id.'.jpg" /></td>'.
				'<td class="name" ><a href="'.$this->baseUrl().'/index/show/id/'.$dana->id.'" title="Kliknij, aby zobaczyć profil użytkownika" >'.$dana->imie.'<br />'.$dana->nazwisko.'</a></td>'.
				'<td class="email" ><a href="'.Rafyco_Template::email($dana->email).'" title="Kliknij, aby napisać wiadomość do tego użytkownika" >'.$dana->email.'</a></td>'.
				'<td class="small" >'.Rafyco_Template::rola($dana->rola).'</td>';
				
				if(Application_Models_Przyjaznie::isFriendStatic($this->identity->id,$dana->id)){
					echo '<td class="small" ><span title="Ten użytkownik znajduje się na Twojej liście kontaktów" ><img src="'.$this->baseUrl().'/public/images/good-icon.png" />Przyjaciel</span></td>';
				} else {
					echo '<td class="small" ><a href="'.$this->baseUrl().'/friend/add/id/'.$dana->id.'" title="Kliknij, aby wysłać użytkownikowi zaproszenie do Twojej listy kontaktów" >Dodaj do przyjaciół</a></td>';	
				}
			
			echo '</tr>';
		}
		
		?>
		
	</table>
	
	<?php
	
	}
	
?>

<?php  if($this->dane != null) echo $this->paginationControl($this->dane, 'Sliding', './paginator.phtml'); ?>
	

	
	
	