<h2><?= $this->escape($this->title) ?></h2>



<?php

if($this->dane != null){
	$i = 1;
	foreach($this->dane as $dana){

		echo "<tr>";
		echo "<td>".$i."</td>";
		echo "<td><img src=\"".$this->baseUrl().'/photo/mini/id/'.$dana->id.".jpg\" /></td>";
		echo "<td><a href=\"".$this->baseUrl()."/index/show/id/".$dana->id."\" >".$dana->imie." ".$dana->nazwisko."</a></td>";		
		echo "<td><a href=\"mailto::".$dana->email."\">".$dana->email."</a></td>";		
		
		echo "<td><a href=\"".$this->baseUrl()."/board/index/id/".$dana->id."\">Raport</a></td>";
		echo "</tr>";
		
		$i++;
	
	}
	
	echo $this->paginationControl($this->dane, 'Sliding', './paginator.phtml');
	
}

?>
