	
    <h2><?php echo $this->escape($this->title); ?></h2>
	
	<img src="<?php echo Zend_Controller_Front::getInstance()->getBaseUrl().'/photo/index/id/'.$this->user->id;?>" alt="Awatar użytkownika" />
	
	<p><a href="<?= Rafyco_Template::email($this->user->email) ?>">Wyślij wiadomość</a></p>
	
	<?php 
		if($this->identity->id != $this->user->id && $this->identity->rola != 'viewer' && $this->user->rola != 'viewer'){
			switch(Application_Models_Przyjaznie::getDane($this->identity->id,$this->user->id)){
				case 0: // Brak więzów przyjaźni
					echo "<p>Nie jesteście przyjaciółmi <a href=\"#\">Wyślij zaproszenie</a></p>";
					break;
				case 1: // Wysłałem zaproszenie
					echo "<p>Wysłano zaproszenie do przyjaźni. Oczekiwanie na odpowiedź.</p>";
					break;
				case 2: // Użytkownik do mnie wysłał
					echo "<p>Użytkownik zaproponował przyjaźć. Czy się zgadzasz? <a href=\"#\">Tak</a> <a href=\"#\">Nie</a></p>";
					break;
				case 3: // Oboje się zgodziliśmy
					echo "<p>Jesteście przyjaciółmi.</p>";
					break;
				default:
			
			}
			
		}
	
	?>	
	
	<table>
	
	<?php  

	
	foreach($this->dane as $key => $value){
		echo "<tr>\n";
		
		echo "<td>$key: </td><td>$value</td>";
		
		echo "</tr>\n";
	}
	?>
	</table>
	
	
	<?php if($this->user->rola == 'doctor'){
	$gab = $this->gab;
	
		if($gab!=null){
			
			echo "<h3>Gabinety</h3>";
			foreach($gab as $temp){ ?>
	
		
		<table>
			<tr><td>Nazwa: </td><td><?php echo $temp['nazwa']; ?></td></tr>
			<tr><td>Adres: </td><td><?php echo $temp['adres']; ?></td></tr>
			<tr><td>Telefon: </td><td><?php echo $temp['telefon']; ?></td></tr>
			
		</table>
		
			
	
	<?php 
			}
		}
	
	}
	?>
	
	<?php if($this->user->rola == 'patient' && Application_Models_Pacjenci::isMyDoctor($this->user->id,$this->identity->id)){
	
		echo "<h2 id=\"ustpac\">Ustawienie maksymalnych parametrów</h2>";
		
		echo $this->form;
		
	}
	?>
	

