	
    <h2><?php echo $this->escape($this->title); ?></h2>

	<?php 
		if($this->messages){ 
			echo '<table class="shaded-table">';
			$i=1;
			foreach($this->messages as $mess ){
				$adres = $this->baseUrl().'/comm/show/id/'.$mess->id;
				
				echo '<tr class="'.($mess->read == 0 ? 'unreaded' : 'readed' ).'">';
					echo
						'<td class="avatar"><img src="'.$this->baseUrl().'/photo/mini/id/'.$mess->od.'.jpg" /></td>'.
						'<td><a href="'.$adres.'">'.$mess->temat.'</a></td>'.
						'<td class="small">'.Application_Models_Users::staticAlias($mess->od).'</td>'.
						'<td class="small">'.$mess->data.'</td>';
					
					if($mess->read == 0)
						echo '<td class="small">Nieprzeczytane</td>';
					else
						echo '<td class="small">Przeczytane</td>';
					
					echo '<td class="remove"><a href="'.$this->baseUrl().'/comm/del/id/'.$mess->id.'"><img src="'.$this->baseUrl().'/public/images/remove-icon.png" title="Usuń tę wiadomość" /></a></td>';
					
				echo '</tr>';
				$i++;
			}
			echo '</table>';
			
			echo $this->paginationControl($this->messages, 'Sliding', './paginator.phtml');
			
		} else { ?>
	
	<p>Skrzynka odbiorcza pusta</p>
	
	
	<?php } ?>
	

