<h2>Temat: <?php echo $this->escape($this->title); ?></h2>

<div class="thread-full">
	<div class="thread">
		<img class="avatar" src="<?= $this->baseUrl() ?>/photo/mini/id/<?= $this->idNadawcy ?>">
		<div class="thread-content">
			<h4> 
				<?=	Application_Models_Users::staticAlias($this->idNadawcy) ?> pisze:
				<span class="icons">
					<a class='del' href="<?= $this->baseUrl() ?>/comm/del/id/<?= $this->idWiadomosci ?>">
						<img src="<?= $this->baseUrl(); ?>/public/images/remove-icon.png" title="Usuń tę wiadomość" />
					</a>
					<a class="return" href="<?= $this->baseUrl(); ?>/comm">
						<img src="<?= $this->baseUrl() ?>/public/images/return-icon.png" title="Powrót do skrzynki odbiorczej" />
					</a>
				</span>
				<div class="date"> 
					<?php echo $this->data; ?>
				</div>
				<div class="clear" ></div>
			</h4>
			<div class="thread-info"> 
				<?php echo $this->tresc; ?>
			</div>
		</div>
		<div class="clear" ></div>
	</div>
</div>