<?php if(isset($this->previous) || isset($this->next)){ ?>
<div class="pagination">
    <div>
        
		
		
		<?php if (isset($this->previous)){ ?>
              <a href="<?php echo $this->url(array('page' => $this->first)); ?>">Pierwsza</a> 
        <?php } else { ?>
                <span class="disabled">Pierwsza</span> 
        <?php } ?>
    
        
		
        <?php if (isset($this->previous)){ ?>
              <a href="<?php echo $this->url(array('page' => $this->previous)); ?>">&lt;&lt;</a> 
        <?php } else { ?>
            <span class="disabled">&lt;&lt;</span> 
        <?php } ?>
        
		
		<?php foreach ($this->pagesInRange as $page){ ?>
            <?php if ($page != $this->current){ ?>
                <a href="<?php echo $this->url(array('page' => $page)); ?>"><?php echo $page; ?></a>
            <?php } else { ?>
                <?php echo $page; ?>
            <?php } ?>
        <?php } ?>
        
		
		<?php if (isset($this->next)){ ?>
            <a href="<?php echo $this->url(array('page' => $this->next)); ?>">&gt;&gt;</a> 
        <?php } else { ?>
            <span class="disabled">&gt;&gt;</span> 
        <?php } ?>
		
		
        <?php if (isset($this->next)){ ?>
            <a href="<?php echo $this->url(array('page' => $this->last)); ?>">Ostatnia</a>
        <?php } else { ?>
            <span class="disabled">Ostatnia</span>
        <?php } ?>
		
		
        
		
	</div>
 </div>
 <?php } ?>
 