/*   B A S E   */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Segoe UI, Tahoma, Arial;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#main-wrapper {
	min-height: 100%;
	position: relative;
}

header {
	width: 100%;
	background: #4989C4;
	border-bottom: 1px solid #1C5D99;
	box-shadow: #000 0px -4px 12px 6px;
	margin: 0;
	padding: 0;
	color: #FFF;
}

section {
	position: relative;
	margin: auto;
	width: 900px;
	padding: 10px 0 100px 0;
}

footer {
	width: 100%;
	background: #4989C4;
	border-top: 1px solid #1C5D99;
	margin: 0;
	padding: 5px 0;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 0;
}


/*   H E A D E R   */

#header-content {
	width: 900px;
	margin: 0 auto;
	padding: 8px 0 10px 0;
}

#header-title{
	float: left;
}

#header-title h1 {
	margin: 0;
}

#header-tip {
	margin: 10px 0;
	float: right;
	max-width: 450px;
}

header .message {
	background: #E00000;
	line-height: 25px;
	font-size: 15px;
	border-top: 1px solid #7E0000;
	text-align: center;
}

/*   F O O T E R   */

footer a {
	color: #FFF;
}

footer ul {
	padding: 0;
}

footer ul li{
	display: inline;
	white-space: nowrap;
}

footer ul ul li:after{
	content: " | ";
}


/*   U N I V E R S A L   */

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.zend_form dd{
	margin:0;
	padding:0;
}


/*   L O G O W A N I E   */

#login-left {
	float: left;
}

#login-right {
	float: right;
	padding-top: 35px;
}

#login-right input {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 340px;
	margin-bottom: 15px;
}

#login-right input[type="submit"] {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 140px;
	float: right;
}

#login-right p {
	float: right;
	clear: both;
}


/*   R E J E S T R A C J A   */

#register-left {
	float: left;
}

#register-right {
	float: right;
	padding-top: 15%;
}


#register-left input {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 340px;
	margin-bottom: 15px;
}

#register-left input[type="submit"] {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 140px;
	float: right;
}

#register-left p {
	float: right;
}