/*   B A S E   */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Segoe UI, Tahoma, Arial;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#main-wrapper {
	min-height: 100%;
	position: relative;
}

header {
	width: 100%;
	background: #4989C4;
	border-bottom: 1px solid #1C5D99;
	box-shadow: #000 0px -4px 12px 6px;
	margin: 0;
	padding: 0;
	color: #FFF;
	position: fixed;
	top: 0;
	z-index:100;
}

section {
	position: relative;
	margin: 40px 50px 0 300px;
	padding: 10px 0 100px 20px;
	z-index:0;
}

footer {
	width: 100%;
	background: #4989C4;
	border-top: 1px solid #1C5D99;
	margin: 0;
	padding: 5px 0;
	color: #FFF;
	text-align: center;
	font-size: 12px;
	position: absolute;
	bottom: 0;
}


/*   H E A D E R   */

#header-title {
	float: left;
	width: 300px;
	text-align: right;
	border-right: 1px solid #6A99C3;
	line-height: 40px;
	font-weight: bold;
	font-size: 25px;
}

#header-title a {
	margin: 0;
	padding: 0 15px 0 0;
	text-decoration: none;
	color: #FFF;
}

#login-info {
	float: left;
	line-height: 40px;
	padding-left: 15px;
	font-style: italic;
}

header .message {
	background: #E00000;
	line-height: 25px;
	font-size: 15px;
	border-top: 1px solid #7E0000;
	text-align: center;
}


/*   L E F T   S L I D E R   */

aside {
	text-align: right;
	position: fixed;
	top: 40px;
	width: 300px;
	min-height: 400px;
	padding: 20px 10px 0 25px;
	border-right: 1px solid #EEE;
	z-index: 50;
}

aside .tip {
	margin-bottom: 20px;
}

aside .tip .text {
	border-bottom: 1px solid #CCC;
	padding-bottom: 4px;
	font-style: italic;
	font-size: 14px;
}

aside .tip .author {
	font-style: italic;
	font-size: 12px;
	color: #BBB;
}



/*   F O O T E R   */

footer a {
	color: #FFF;
}

footer ul li{
	display: inline;
	white-space: nowrap;
}

footer ul ul li:after{
	content: " | ";
}

article {

}


/*   U N I V E R S A L   */

.hidden {
	display: none;
}

.clear {
	clear: both;
}


/*   M E N U   */

nav {
	float: right;
}

nav ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 500;
}

nav ul li {
	float: left;
	width: 100px;
	line-height: 40px;
	height: 40px;
	background: #4989C4;
	color: #FFF;
	cursor: default;
}

nav ul li ul {
	display: none;
}

nav ul li ul li {
	display: block;
	clear: both;
	padding:0 5px;
	background: #FFF;
	width: 220px;
	margin-left: -120px; /* nav ul li width - this width */
	border-style: solid;
	border-color: #EEE;
	border-width: 1px 1px 0 1px;
	cursor: hand;
}

nav ul li ul li:last-child {
	border-bottom-width: 1px;
}

nav ul li ul li a {
	color: #000;
	text-decoration: none;
	display: block;
}

nav ul li:hover {
	background: #86AFD5;
}

nav ul li:hover ul {
	display: block;
}

nav ul li:hover ul li:hover {
	background: #4989C4;
}

nav ul li:hover ul li a:hover {
	color: #FFF;
}