	
    <h2><?php echo $this->escape($this->title); ?></h2>

	<?php if($this->dane != null){
	foreach($this->dane as $temp){ ?>
	
		<table>
			<tr><td>Nazwa: </td><td><?php echo $temp['nazwa']; ?></td></tr>
			<tr><td>Adres: </td><td><?php echo $temp['adres']; ?></td></tr>
			<tr><td>Telefon: </td><td><?php echo $temp['telefon']; ?></td></tr>
			
		</table>
		
		<?php
		
		if($this->identity->rola == 'admin'){
		
			echo '<p><a href="'.$this->baseUrl()."/surgery/del/id/".$temp['id'].'">usuń gabinet</a></p>';
		} else if($this->identity->rola == 'doctor'){
			echo '<p><a href="'.$this->baseUrl()."/surgery/del/id/".$temp['id'].'">odłacz gabinet</a></p>';
		}
	
		?>
	
	<?php }} ?>
	

	
	<?php echo $this->paginationControl($this->messages, 'Sliding', './paginator.phtml'); ?>

	<?php echo $this->form; ?>
	
	