	
    <h2><?php echo $this->escape($this->title); ?></h2>

	<?php if($this->dane != null){
	foreach($this->dane as $temp){ ?>
	
		<table>
			<tr><td>Nazwa: </td><td><?php echo $temp['nazwa']; ?></td></tr>
			<tr><td>Adres: </td><td><?= 
				$temp->ulica." ".$temp->numer."<br />".
				substr($temp->kodPocz,0,2)."-".substr($temp->kodPocz,2,3)." ".$temp->miasto
			?></td></tr>
			<tr><td>Telefon: </td><td><?php echo $temp['telefon']; ?></td></tr>
			
		</table>
		
		<?=

			'<p><a href="'.$this->baseUrl()."/surgery/add/id/".$temp['id'].'">dodaj	gabinet</a></p>';
			
		?>
	
	<?php }} ?>
	

	
	<?=  $this->paginationControl($this->dane, 'Sliding', './paginator.phtml'); ?>

	<?=  $this->form; ?>
	
	