/*   B A S E   */


header {
	width: 100%;
	min-width: 550px;
	background: #C90000;
	background-image: linear-gradient(to bottom, #FF646A 0,#CF0009 24px, #B8000B 26px, #C40000 50px);
	border-bottom: 1px solid #9C0000;
	box-shadow: #000 0px -4px 12px 6px;
	margin: 0;
	padding: 0;
	color: #FFF;
	position: fixed;
	top: 0;
	z-index:100;
}

section {
	position: relative;
	margin: 0 50px 0 300px;
	padding: 50px 0 100px 20px;
	max-width: 820px;
	z-index:0;
}


/*   H E A D E R   */

#header-title {
	float: left;
	width: 250px;
	text-align: right;
	border-right: 1px solid #AF0000;
	line-height: 50px;
	font-weight: bold;
	font-size: 25px;
}

#header-title a {
	margin: 0;
	padding: 0 15px 0 0;
	text-decoration: none;
	color: #FFF;
}

#header-title .logo {
	position: relative;
	top: 3px;
	margin: 0 8px 0 0;
}

#login-info {
	float: left;
	line-height: 50px;
	padding-left: 15px;
	font-style: italic;
	height: 50px;
	overflow: hidden;
}

header .message {
	background: #C90000;
	background-image: linear-gradient(#CF0009 0%, #A8000A 100%);
	line-height: 25px;
	font-size: 15px;
	border-top: 1px solid #7E0000;
	text-align: center;
}

#aside-switch {
	visibility: hidden;
	width: 50px;
	height: 50px;
	float: left;
	cursor: pointer;
	background: #C90000;
	background-image: linear-gradient(to bottom, #FF646A 0%,#CF0009 49%, #B8000B 51%, #C40000 100%);
}

#aside-switch:hover {
	background: #F00000;
	background-image: linear-gradient(to bottom, #FF646A 0%,#E63139 49%, #CF000D 51%, #E00000 100%);
}


/*   L E F T   S L I D E R   */

aside {
	text-align: right;
	position: fixed;
	background: #FFF;
	top: 40px;
	width: 300px;
	padding: 20px 10px 20px 25px;
	border-right: 1px solid #EEE;
	border-bottom: 1px solid #EEE;
	z-index: 50;
}

.aside-docked {
	box-shadow: #000 0px 0px 12px 1px;
}

aside .tip {
	margin-bottom: 20px;
}

aside .tip .text {
	border-bottom: 1px solid #CCC;
	padding-bottom: 4px;
	font-style: italic;
	font-size: 14px;
}

aside .tip .author {
	font-style: italic;
	font-size: 12px;
	color: #BBB;
}

aside .mydoctor .doctor-profile {
	background: #F3F3F3;
	font-size: 20px;
	padding: 2px;
}

aside .mydoctor .doctor-profile img {
	vertical-align: middle;
}

aside .title {
	font-weight: bold;
	margin: 18px 5px 0 0;
}

aside .friends img {
	width: 30px;
	height:30px;
	vertical-align: middle;
	margin-left: 5px;
}

aside .friends ul {
	list-style-type: none;
	padding: 0;
	border: 1px solid #F3F3F3;
}

aside .friends ul li {
	background: #FFF;
}

aside .friends ul li:nth-child(2n+1) {
	background: #F3F3F3;
}

aside .friends ul li:hover {
	background: #FFF9B2;
}

aside .friends a {
	text-decoration: none;
	color: #000;
	display: block;
	height: 36px;
	padding: 3px;
}



/*   F O O T E R   */

footer a {
	color: #696969;
}

footer a:hover {
	color: #595959;
}

footer ul li{
	display: inline;
	white-space: nowrap;
}

footer ul ul li:after{
	content: " | ";
}

article {

}


/*   M E N U   */

nav {
	position: absolute;
	top: 0;
	right: 0;
}

nav ul {
	list-style-type:none;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 500;
}

nav ul li {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0;
	color: #FFF;
	cursor: default;
	background-image: url("../../images/menu-icons.png");
}

nav ul li ul {
	display: none;
	top: 50px;
}

nav ul li ul li {
	display: block;
	clear: both;
	padding:0 5px;
	background: #FFF;
	width: 220px;
	margin: 0 0 0 -170px; /* nav ul li width - this width */
	border-style: solid;
	border-color: #CCC;
	border-width: 1px 1px 0 1px;
	line-height: 40px;
	height: 40px;
	cursor: pointer;
}

nav ul li ul li:last-child {
	border-bottom-width: 1px;
}

nav ul li ul li a {
	color: #000;
	text-decoration: none;
	display: block;
}

nav ul li:hover {
	background-color: #F00000;
	background-image: url("../../images/menu-icons.png"), linear-gradient(to bottom, #FF646A 0%,#E63139 49%, #CF000D 51%, #E00000 100%);
}

nav ul li:hover ul {
	display: block;
}

nav ul li:hover ul li:hover {
	background: #C90000;
}

nav ul li:hover ul li a:hover {
	color: #FFF;
}

nav .nav-account {
	background-position: 0px 0px;
}

nav .nav-msg {
	background-position: 0px -50px;
}

nav .nav-diary {
	background-position: 0px -100px;
}

nav .nav-info {
	background-position: 0px -200px;
}

nav .nav-rooms {
	background-position: 0px -150px;
}

nav .new-messages {
	background-color: #B40000;
	padding: 0 5px;
	border-radius: 15px;
	border: 2px solid #FFF;
	position: absolute;
	font-size: 12px;
	font-weight: bold;
	top: 25px;
}

/*  N E W S  */

.thread-full {
	margin-bottom: 20px;
	max-width: 800px;
}

.thread .thread-content {
	background: #FFF;
	border: 1px solid #EEE;
	border-radius: 4px;
	margin-left: 85px;
	overflow: hidden;
}

.thread .thread-info {
	padding: 6px;
}

.thread h4, h5 {
	margin: 0;
}

.thread h4 {
	background: #EEE;
	background-image: linear-gradient(to bottom, #F7F7F7 0%, #EEEEEE 100%);
	padding: 6px;
}

.thread h4 a, h5 a {
	color: #000;
	text-decoration: none;
}

.thread .date {
	float: right;
	font-size: 12px;
	font-weight: normal;
	font-style: italic;
}

.thread .avatar {
	float: left;
}

.thread .icons {
	float: right;
	margin-left: 10px;
}

.thread .icons img {
	float: none;
	max-height: 20px;
}

.thread-info img{
	max-width:100%;
}

.thread-full .comments-switch {
	text-align: right;
	font-size: 14px;
}

.thread-full .comments-switch a:hover {
	text-decoration: underline;
	cursor: pointer;
}

.thread-full .comments {
	margin-left: 85px;
	display: none;
}

.thread-full .comments .loading {
	text-align: center;
	display: none;
}

.thread-full .comments-more {
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	background: #F5F5F5;
	padding: 6px;
	border: 1px solid #EEE;
	margin-bottom: 4px;
	display: none;
}

.thread-full .comments-more:hover {
	background: #EEE;
	border: 1px solid #DDD;
	text-decoration: underline;
}

.thread-full .comment .avatar {
	float: left;
	width: 50px;
	height: 50px;
}

.thread-full .comment {
	background: #F5F5F5;
	padding: 6px;
	border: 1px solid #EEE;
	margin-bottom: 4px;
}

.thread-full .comments .comment-content {
	margin-left: 60px;
}

.thread-diary ul{
	list-style: none;
	padding-left: 100px;
}

.thread-diary ul li, .thread-diary ul li b {
	font-family: Courier New
}

.thread-diary img{
	float: left;
	width: 48px;
	height: 48px;
	margin-left: 20px;
	margin-top: 2px;
	background: #FFD873;
}


/*   L I S T S ,   T A B L E S   */

.shaded-table{
	border-spacing: 0;
	width: 100%;
}

.shaded-table tr {
	background: #FFF;
}

.shaded-table tr:nth-child(2n+1) {
	background: #EEE;
}

.shaded-table tr:hover {
	background: #FFF9B2;
}

.shaded-table .unreaded {
	background: #FFD5A0 !important;
}

.shaded-table .unreaded:hover {
	background: #FFBE6C !important;
}

.shaded-table tr td{
	margin: 0;
}

.shaded-table-padding tr td, .shaded-table-padding tr th {
	padding: 2px 8px;
}

.shaded-table a{
	text-decoration: none;
	color: #000;
	display: block;
}

.shaded-table a:hover {
	text-decoration: underline;
}

.shaded-table .avatar img {
	width: 75px;
	height: 75px;
	margin: 2px 2px -2px 2px;
}

.shaded-table .padding-cell {
	padding: 0 10px;
}

.shaded-table .name {
	padding-right: 10px;
	font-weight: bold;
	font-size: 18px;
}

.shaded-table .email {
	padding-right: 10px;
}

.shaded-table .small {
	padding-right: 10px;
	font-size: 12px;
}

.shaded-table .small img{
	vertical-align: bottom;
	margin-right: 5px;
}

.shaded-table .remove img {
	margin: 10px;
}

.user-info {
	margin-left: 90px;
}

/*   A L E R T S ,   B O X E S   */

.box-warning {
	background: #FFFFA8;
	border: 1px solid #FF8686;
	border-radius: 5px;
	padding: 5px;
	margin: 30px 0 0 0;
	min-height: 60px;
	max-width: 800px;
}

.box-warning img {
	float: left;
}

.box-warning p {
	padding: 0;
	padding-left: 53px;
	margin: 0;
}

/*   F O R M S   */

#diary-form #emoticon {
	width: 128px;
	height: 128px;
	margin:0;
	padding:0;
	float: right;
}

#diary-form #samopoczucie {
	width: 100%;
}

#diary-form #cisR-element input, #diary-form #cisS-element input, #diary-form #tetno-element input {
	width: 128px;
}

#diary-form #submit_btn-label{
	display: none;
}

#diary-form-lite {
	position: relative;
	max-width: 800px;
}

#diary-form-lite #opis-element textarea {
	resize: vertical;
}

#diary-form-lite #uprawnienia-label {
	float: left;
}

#diary-form-lite #uprawnienia-element {
	clear: left;
	float: left;
}

#diary-form  #submit_btn-element, #diary-form-lite  #submit_btn-element{
	text-align: right;
}

#diary-form  #submit_btn, #diary-form-lite  #submit_btn {
	height: 40px;
	min-width: 100px;
	margin: 10px 0 15px 0;
}

#diary-form  #submit_btn-label, #diary-form-lite  #submit_btn-label{
	display: none;
}

#friends-search-form #find-element {
	float: left;
	width: 300px;
}

#friends-search-form #find-element input {
	width: 100%;
}


#friends-search-form #submit_select-label{
	display: none;
}

