/*   B A S E   */

header {
	width: 100%;
	background: #C90000;
	background-image: linear-gradient(to bottom, #FF646A 0%,#CF0009 49%, #B8000B 51%, #C40000 100%);
	border-bottom: 1px solid #9C0000;
	box-shadow: #000 0px -4px 12px 6px;
	margin: 0;
	padding: 0;
	color: #FFF;
}

section {
	position: relative;
	margin: auto;
	width: 900px;
	padding: 10px 0 100px 0;
}


/*   H E A D E R   */

#header-content {
	width: 900px;
	margin: 0 auto;
	padding: 8px 0 10px 0;
}

#header-title {
	float: left;
	width: 400px;
}

#header-title .logo {
	float: left;
	margin: 14px 14px 0 0;
}

#header-title .subtitle {
	font-style: italic;
}

#header-title a {
	text-decoration: none;
	color: #FFF;
}

#header-title h1 {
	margin: 0;
}

#header-tip {
	margin: 10px 0;
	float: right;
	max-width: 450px;
}

#header-tip p {
	margin: 0 0 4px 0;
}

#header-tip .opis {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	text-align: right;
	border-top: 1px solid #FFF;
}

header .message {
	background: #E00000;
	line-height: 25px;
	font-size: 15px;
	border-top: 1px solid #7E0000;
	text-align: center;
}

/*   F O O T E R   */

footer a {
	color: #696969;
}

footer a:hover {
	color: #595959;
}

footer ul {
	padding: 0;
}

footer ul li{
	display: inline;
	white-space: nowrap;
}

footer ul ul li:after{
	content: " | ";
}


/*   L O G O W A N I E   */

#login-left {
	float: left;
	padding-top: 100px;
	min-width: 500px;
}

#login-left #banner-loader {
	text-align: center;
}

#login-left #banner-1 {
	width: 500px;
	height: 225px;
	position: absolute;
	background: #FFF;
	z-index: 10;
}

#login-left #banner-1-images{
	width: 308px;
	float: right;
}

#login-left #banner-1-images img{
	margin: 1px;
}

#login-left #banner-1-text{
	width: 192px;
	padding-right: 15px;
	float: left;
	text-align: right;
}

#login-left #banner-2 {
	width: 500px;
	height: 300px;
	position: absolute;
	background: #FFF;
	z-index: 5;
}

#login-left #banner-2 h3 {
	margin: 0;
}

#login-left #banner-2 img {
	float: left;
	width: 230px;
}

#login-left #banner-2 div {
	padding-left: 245px;
}

#login-right {
	float: right;
	padding-top: 35px;
	width: 340px;
}

#login-right input {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 340px;
	margin-bottom: 15px;
}

#login-right input[type="submit"] {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 140px;
	float: right;
}

#login-right p {
	float: right;
	clear: both;
}


/*   R E J E S T R A C J A   */

#register-left {
	float: left;
}

#register-right {
	float: right;
	padding-top: 15px;
}

#register-right a {
	text-decoration: none;
	color: #000;
}

#register-right a:hover {
	text-decoration: underline;
	color: #333;
}

#register-right p {
	margin-bottom: 50px;
	text-align: right;
}

#register-right p img {
	vertical-align: middle
}


#register-left input {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 340px;
	margin-bottom: 15px;
}

#register-left input[type="submit"] {
	border: 1px solid #CCC;
	padding: 6px;
	border-radius: 5px;
	width: 140px;
	float: right;
}

#register-left p {
	text-align: right;
	font-size: 12px;
	font-style: italic;
	margin: 0;
	padding: 0;
}