/*   B A S E   */

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Segoe UI, Tahoma, Arial;
}

html {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

#main-wrapper {
	min-height: 100%;
	min-width: 550px;
	position: relative;
}

footer {
	width: 100%;
	background: #D6D6D6;
	background-image: linear-gradient(to bottom, #C5C5C5 0%, #E6E6E6 100%);
	border-top: 1px solid #A7A7A7;
	margin: 0;
	padding: 3px 0;
	color: #696969;
	text-align: center;
	font-size: 11px;
	position: absolute;
	bottom: 0;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

.l-float {
	float: left;
}

.r-float {
	float: right;
}

/*   Z E N D   F O R M S   */

.zend_form dd{
	margin:0;
	padding:0;
}

textarea {
	border: 1px solid #CCC;
	border-radius: 4px;
	width: 100%;
}

input {
	border: 1px solid #CCC;
	border-radius: 4px;
}

