<div class="header-content">
	<div id="aside-switch"><img src="<?= $this->baseUrl(); ?>/public/images/aside-switch.png" /></div>
	<div id="header-title">
		<a href="<?= $this->baseUrl() ?>"><img class="logo" src="<?= $this->baseUrl() ?>/public/images/logo-24.png" />HealthCom</a>
	</div>
	<div id="login-info">
		<span id="login-info-pre">Zalogowany jako </span><b><?php echo $this->identity->imie." ".$this->identity->nazwisko ?></b>
	</div>
	
		
	<nav>
		<?php 
			$m = new Rafyco_Menu($this->identity,Zend_Controller_Front::getInstance()->getBaseUrl());
			$n = Application_Models_Wiadomosci::staticCount($this->identity->id);
			$npac = 0;
			if($this->identity->rola=='doctor'){
				$npac = Application_Models_Pacjenci::staticCountByDoc($this->identity->id);}
		?>
				
		
		<ul>
			
			<?php if($this->identity != null){// Zalogowany?> 
				
			<?php if($this->identity->rola == 'admin'){ ?>
			<li class="nav-admin" >  <!-- ADMINISTRACJA -->
				<ul>
					<?php
						$m->al("Użytkownicy","/admin");
						$m->al("Urządzenia API","/apipanel");
					?>
				</ul>
			</li>
			<?php } ?>

			<?php if($this->identity->rola == 'patient'){ ?>
			<li class="nav-diary" > <!-- DZIENNICZEK -->
				<ul>
					<?php
						$m->al("Raport","/board");
						$m->al("Mój stan zdrowia","/board/add");
						$m->al("Leki","/board/medical");
						$m->al("Udostępnianie","/board/setting");
					?>
				</ul>
			</li>
			<?php } ?>		
				
			<li class="nav-msg" ><?php if($n>0 && $n<100) {
											echo "<span class=\"new-messages\">$n</span>";
										} else if ($n>99) {
											echo "<span class=\"new-messages\">...</span>";
										} ?> <!-- KOMUNIKACJA -->
				<ul>
					<?php
						$m->al("Skrzynka odbiorcza ($n)","/comm");
						$m->al("Wyślij","/comm/send");
					?>
				</ul>
			</li>
			
			<?php if($this->identity->rola == 'admin'||$this->identity->rola == 'doctor'){ ?>
			<li class="nav-rooms" ><?php if($npac>0 && $npac<100) {
											echo "<span class=\"new-messages\">$npac</span>";
										} else if ($npac>99) {
											echo "<span class=\"new-messages\">...</span>";
										} ?> <!-- PANEL LEKARZA -->	
					<ul>
						<?php
							$m->onlyRola("Moi Pacjenci ($npac)","/doc",'doctor');
							$m->al("Lista gabinetów","/surgery");
						?>
					</ul>
			</li>			
			
			<li class="nav-info" > <!-- INFORMACJE -->
				<ul>
					<?php 
						$m->al("Lista porad","/info");
						$m->al("dodaj poradę","/info/add");
					?>	
				</ul>		
			</li>
			<?php } ?>	
			<?php } ?>
			
			<li class="nav-account" style="background-size:100%;background-image:url('<?php echo Zend_Controller_Front::getInstance()->getBaseUrl().'/photo/mini/id/'.$this->identity->id;?>')"> <!-- KONTO -->
				<ul>	
					<?php
						$m->zal("Aktualności","/index");
						$m->notzal("Rejestracja","/index/registry");
						$m->notzal("Logowanie","/index/login");
						$m->notzal("Przypomnienie hasła","/index/forgot");
						//$m->zal("Moje dane","/index/show");
						$m->zal("Ustawienia","/index/edit");
						$m->notRola("Przyjaciele","/friend",'viewer');
						$m->onlyRola("Moi Podopieczni","/index/share",'viewer');
						$m->zal("Wyloguj","/index/logout");
					?>
					
				</ul>		
			</li>
			
		</ul>
	</nav>
</div>

<div class="clear"></div>

<?php // Wprowadzanie wiadomości do wyświetlenia 

$session = Rafyco_Logi::getInstance();
if($session->isText()){ ?>
		
	<div class="message">
		<?php 
			$bbcode = Zend_Markup::factory('Bbcode');
			echo nl2br($bbcode->render($session->getText()));
		?>
	</div>

<?php } ?>