﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="serce,szpital,choroba" />
	<meta name="Description" content="HearthCom to serwis dedykowany osobom chcącym usystematywować problemy chorobowe." />
	
	<link rel="icon" type="image/x-icon" href="<?php echo $this->baseUrl();?>/public/images/sor_logo.png" />
	<link rel="shortcut icon" href="<?php echo Zend_Controller_Front::getInstance()->getBaseUrl();?>/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl();?>/public/styles/<?php echo Zend_Registry::getInstance()->get('css');?>/style.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl();?>/public/styles/<?php echo Zend_Registry::getInstance()->get('css');?>/style_logged.css" />
	<link rel="stylesheet" type="text/css" media="print" href="<?php echo $this->baseUrl();?>/public/styles/<?php echo Zend_Registry::getInstance()->get('css');?>/style_print.css" />
	<link rel="stylesheet" href="<?php echo $this->baseUrl();?>/public/scripts/jqueryui/css/blitzer/jquery-ui-1.10.3.custom.min.css">
	<title>HealthCom - <?php echo $this->escape($this->title); ?></title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<?php echo $this->script; ?>
	<script type="text/javascript" src="<?php echo $this->baseUrl();?>/script/kontakt"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/scripts/jqueryui/jquery-ui-1.10.3.custom.min.js"></script>
</head>
<body>

	<div id="main-wrapper">
		<header>
			<?php include 'default_header.phtml'; ?>
		</header>

		<aside>
			<?php include 'default_slider.phtml'; ?>	
		</aside>
		
		<section>
			<?php if($this->identity->rola == 'patient'){
				if(Application_Models_Dzienniczek::isMuststatic($this->identity->id)){ ?>
				<div class="box-warning">
					<img src="<?= $this->baseUrl(); ?>/public/images/icon_warning48.png" />
					<p>Nie wpisujesz już swoich danych od 3 dni. Zapraszamy na stronę wpisywania wyników badań: <a href="<?php echo $this->baseUrl();?>/board/add">Kliknij tutaj</a></p>
				</div>				
				<?php } ?>
				<?php $leki = new Application_Models_Lekarstwa();
					if($leki->getToHaveCount($this->identity->id) > 0){
						$odp = $leki->getToHave($this->identity->id);?>
						
					<div class="box-warning">
						<img src="<?= $this->baseUrl(); ?>/public/images/icon_warning48.png" />
						<p>Nadszedł czas na pobranie leków <a href="<?php echo $this->baseUrl();?>/board/medical#med">Kliknij tutaj</a></p>
						<ul>
						<?php foreach($odp as $one){
						
							echo "<li>".$one->nazwa." (".Rafyco_Template::data(new DateTime($one->data)).")</li>";
						
						} ?>
						</ul>
					</div>
					<?php
					}
				
				?>
			<?php } ?>
			<?= $this->layout()->content; ?>
			<div class="clear"></div>
		</section>
		
		<footer>
			<ul>
				<li>Serwis stworzony jako praca inżynierska na kierunku Informatyka
					<ul>	
						<li><a href="http://rafyco.webd.pl/" target="_blank">Rafał Kobel</a></li>
						<li><a href="http://krzycholud.ugu.pl" target="_blank">Krzysztof Kowalczuk</a></li>
						<li><a href="http://www.facebook.com/karol.kowalczyk.393" target="_blank">Karol Kowalczyk</a></li>
					</ul></li>
				<li><a href="http://pollub.pl" target="_blank">Politechnika Lubelska 2013</a></li>
			</ul>
		</footer>
	</div>
	
	<div id="dialog-window"></div>
	
</body>
</html>