﻿<?php
	Zend_Loader::loadClass('Application_Models_Porady');
	$porada = new Application_Models_Porady();
	$tab = $porada->losuj();
?>	

<div class="tip">
	<div class="text">"<?php echo $tab['porada'];?>"</div>
	<div class="author">Doktor <?php echo $tab['autor'];?></div>
</div>


<?php 

// ----------------------------------- Lekarz prowadzący ----------------------------------------

if($this->identity->rola == 'patient'){?>

<div class="mydoctor">

<?php
	$patient = new Application_Models_Pacjenci();
	$my = $patient->getPatient($this->identity->id);

	if($my->idDoc != 0){
		$doctor = Application_Models_Lekarze::getDoctor(Application_Models_Pacjenci::getDoctor($this->identity)->id);
		if($my->isDoc == 1){
			// Lekarz potwierdzony
			echo
				'<p class="title">Lekarz prowadzący<br />'.
				'<div class="doctor-profile">'.$doctor->imie.' '.$doctor->nazwisko.'<img src="'.Application_Models_Photo::getMini($doctor->id).'" /></div></p>';
		} else {
			// Lekarz niepotwierdzony
			echo "<p>Lekarz prowadzący: ".$doctor->imie." ".$doctor->nazwisko."</p>";
			echo "<p>Oczekiwanie na potwierdzenie</p>";
			echo "<img src=\"".Application_Models_Photo::getMini($doctor->id)."\" />";
		}
		
	} else {
		//Nie ma lekarza
		echo '<p>Brak lekarza prowadzącego</p>';
		echo '<p>Przejdź do <a href="'.$this->baseUrl().'/index/edit">edycji konta</a>, aby wybrać swojego lekarza</p>';
	}

?>

</div>

<?php } ?>
<!-- LISTA PRZYJACIÓŁ -->

<?php 
if($this->identity->rola != 'viewer'){
// ---------------------------------- Lista znajomych -----------------------------------------
	$friend = new Application_Models_Przyjaznie();
	$lista = $friend->getList($this->identity->id);

	if($lista != null){
	
		echo '<div class="friends"><p class="title">Lista znajomych</p><ul>';
		
		foreach($lista as $li){
		
			echo "<li>";
		
			echo '<a href="'.
				$this->baseUrl().
				'/index/show/email/'.
				$li->email.
				'">'.
				$li->imie.
				' '.
				$li->nazwisko.
				'<img src="'.Application_Models_Photo::getMini($li->id).
				'" /></a>';
		
			echo "</li>\n";
		}	
	
		echo "</ul>\n</div>\n\n";
	} else {
		echo '<div class="friends"><p>Nie masz przyjaciół. Zaproś kogoś do swojego profilu, aby cieszyć się wszystkimi funkcjami serwisu.</p></div>';
	}
} else {
// ---------------------------------- Lista odób które udostępniają konto -----------------------------------------
	$udst = new Application_Models_Udostepnienia();
	$lista = $udst->getList($this->identity->id);

	if($lista != null){
	
		echo '<div class="friends"><p class="title">Kto udostępnia mi konto</p><ul>';
		
		foreach($lista as $li){
		
			echo "<li>";
		
			echo '<img src="'.Application_Models_Photo::getMini($li->id).
				'" /><a href="'.
				$this->baseUrl().
				'/index/show/email/'.
				$li->email.
				'">'.
				$li->imie.
				' '.
				$li->nazwisko.
				'</a>';
		
			echo "</li>\n";
		}	
	
		echo "</ul>\n</div>\n\n";
	} else {
		echo "<div class=\"friends\"><p>Nikt nie udostępnia Tobie swoich danych. Zapraszamy do założenia konta pacjenta, aby cieszyć się funkcjami serwisu.</p><p><a href=\"".Zend_Controller_Front::getInstance()->getBaseUrl()."/index/deactive\">Usuń konto</a></p></div>";
	}


}
?>


