<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name="keywords" content="serce,szpital,choroba" />
	<meta name="Description" content="HearthCom to serwis dedytkoany osobom chcącym usystematywować problemy chorobowe." />
	
	<link rel="icon" type="image/x-icon" href="<?php echo $this->baseUrl();?>/public/images/sor_logo.png" />
	<link rel="shortcut icon" href="<?php echo $this->baseUrl();?>/favicon.ico" />
	<link rel="stylesheet" type="text/css" media="screen" href="<?php echo $this->baseUrl();?>/public/styles/<?php echo Zend_Registry::getInstance()->get('css');?>/style.css" />
	<link rel="stylesheet" type="text/css" media="screen"
      href="<?php echo $this->baseUrl();?>/public/styles/<?php echo Zend_Registry::getInstance()->get('css');?>/style_notlogged.css" />
	<title>HealthCom - <?php echo $this->escape($this->title); ?></title>
	<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
	<script type="text/javascript" src="<?php echo $this->baseUrl();?>/public/scripts/mozaic.js"></script>
	<?php echo $this->script; ?>
</head>
<body>
	<div id="main-wrapper">
		<header>
			<div id="header-content">
				<div id="header-title">
					<a href="<?php echo $this->baseUrl();?>">
						<img class="logo" src="<?= $this->baseUrl() ?>/public/images/logo-46.png" />
						<h1>HealthCom</h1>
						<span class="subtitle">Bo razem choruje się lepiej</span>
					</a>
				</div>
				<?php
					Zend_Loader::loadClass('Application_Models_Porady');
					$porada = new Application_Models_Porady();
					$tab = $porada->losuj();
				?>
				<div id="header-tip">
					<p class="text">"<?php echo $tab['porada'];?>"</p>
					<p class="opis">Radzi Doktor <?php echo $tab['autor'];?></p>
				</div>
				<div class="clear"></div>	
			</div>
			<?php // Wprowadzanie wiadomości do wyświetlenia 
		
				$session = Rafyco_Logi::getInstance();
				if($session->isText()){ ?>
						
					<div class="message">
						<?php 
							$bbcode = Zend_Markup::factory('Bbcode');
							echo nl2br($bbcode->render($session->getText()));
						?>
					</div>
			
			<?php } ?>
		</header>
		<section>
			<?php echo $this->layout()->content; ?>
			<div class="clear"></div>
		</section>
		<footer>
			<ul>
				<li>Serwis stworzony jako praca inżynierska na kierunku Informatyka
					<ul>	
						<li><a href="http://rafyco.webd.pl/" target="_blank">Rafał Kobel</a></li>
						<li><a href="http://krzycholud.ugu.pl" target="_blank">Krzysztof Kowalczuk</a></li>
						<li><a href="http://www.facebook.com/karol.kowalczyk.393" target="_blank">Karol Kowalczyk</a></li>
					</ul></li>
				<li><a href="http://pollub.pl" target="_blank">Politechnika Lubelska 2013</a></li>
			</ul>
		</footer>
	</div>
</body>
</html>