﻿<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	
	<link rel="icon" type="image/x-icon" href="<?php echo $this->baseUrl();?>/public/images/sor_logo.png" />
	<link rel="shortcut icon" href="<?php echo Zend_Controller_Front::getInstance()->getBaseUrl();?>/favicon.ico" />
	<title>HealthCom - Regulamin</title>
</head>
<body>

	
			<?= $this->layout()->content; ?>
			
</body>
</html>