	
    <h2><?php echo $this->escape($this->title); ?></h2>



	<?php 
	if($this->paginator != null){
		echo '<table class="shaded-table">';
		$i=1;
		foreach($this->paginator as $temp){ ?>
		
			<tr class="small" >
				<td class="padding-cell"><?php echo $i; ?>.</td>
				<td class="padding-cell"><?php echo $temp->numer; ?></td>
				<td class="padding-cell"><?php echo $this->escape($temp->name); ?></td>
				<td class="padding-cell"><?php echo $temp->data; ?></td>				
				<td class="remove"><a href="<?= $this->baseUrl() ?>/apipanel/del/id/<?= $temp->id ?>"><img src="<?= $this->baseUrl() ?>/public/images/remove-icon.png" title="Usuń urządzenie" /></a></td>
			</tr>
		
		<?php 
			$i++;
		}
	echo "</table>";
	echo $this->paginationControl($this->messages, 'Sliding', './paginator.phtml');
	} else { ?>
	
	<p>Nie został stworzony żaden kod API</p>
	
	<?php } ?>
	
	<div class="add_porada"> <a href="<?php echo $this->baseUrl(); ?>/apipanel/add" >Dodaj kod API</a></div>
	
	
	

