	
    <h2><?php echo $this->escape($this->title); ?></h2>
	
	
	
	<?php 
	if(is_Array($this->dane)){
	echo '<table class="shaded-table shaded-table-padding">';
	foreach($this->dane as $temp){ ?>
	
	<tr>
		<td><?php echo $temp['porada']; ?></td>
		<td><?php echo $temp['autor']; ?></td>
		<?php if($this->identity->rola != 'admin'){ ?>
			<td><a href="<?php echo $this->baseUrl(); ?>/info/edit/id/<?php echo $temp['idp'];?>">edytuj</a></td>
		<?php } ?>
		<td class="remove"><a href="<?php echo $this->baseUrl(); ?>/info/del/id/<?php echo $temp['idp'];?>"><img src="<?= $this->baseUrl() ?>/public/images/remove-icon.png" title="Usuń poradę" /></a></td>
	</tr>
	
	<?php }
	echo "</table>";
	echo $this->paginationControl($this->messages, 'Sliding', './paginator.phtml');
	} else { ?>
	
	<p><?php echo $this->dane; ?></p>
	
	<?php } ?>
	
	<div class="add_porada"> <a href="<?php echo $this->baseUrl(); ?>/info/add" >Dodaj poradę</a></div>
	
	
	

