
<h2><?php echo $this->escape($this->title); ?></h2>

<p>Witaj w częsci instalacynej programu.</p>

<p>Poświęć chwilę na konfigurację swojego serwera, aby móc się cieszyć naszym oprogramowaniem.</p>

<p>UWAGA!!! Zaleca się skopiowanie tej instrukcji przed podjęciem kolejnych działań</p>

<p>1. Skonfiguruj ustawienia korzystając z pliku <code>./Application/config.ini</code>. Zmień nazwę pliku config_default.ini znajdującego się w katalogu Application, a następnie wypełnij poszczególne opcje według instrukcji znajdujących się w komentarzu.

<p>2. Zaimportuj bazę danych znajdującą się w pliku <code>healthcom.sql</code> w folderze <code>database</code>.

<p>3. Jeśli wszystkie ustawienia zostały przeprowadzone przez Ciebie poprawnie zaraz po przeładowaniu strony powinna ukazać się plansza logowania. Prosimy o zalogowanie się na login <code>'admin@health.com'</code> z hasłem <code>'aaa'</code>.

<p>4. Zaleca się stworzenie nowego konta admin, zalogowanie się na nie, a następnie skasowanie domyślnego konta w celu zapewninia bezpieczeństwa. Zmiany hasła można dokonać przez panel edycji konta.</p>

<p>5. Jeśli plansza ta pojawi się mimo poprawnego zainstalowania usługi, należy sprawdzić poprawność pliku <code>./Application/config.ini</code>. Innym powodem wyświetlenia się tego komunikatu jest błąd bazy danych. Jeśli nie wiesz co zrobić skontaktuj się z Twórcami oprogramowania <a href="mailto::rafyco1@gmail.com">Rafałem Koblem</a> lub <a href="mailto::krzycholud@gmail.com">Krzysztofem Kowalczukiem</a>.

<p> Gratulacje!!! Przeszedłeś pomyślnie przez proces instalacji serwisu. Może teraz cieszyć się oprogramowanie HealthCom</p>
	
