	<?php $this->layout()->setLayout('welcome'); ?>
	
	<h1>Błąd działania skryptu strony</h1>
	
    <h2><?php echo $this->escape($this->message); ?></h2>


	<?php if (isset($this->exception) && 'development' === getenv('APPLICATION_ENV')): ?>  
  
				  <h3>Exception information:</h3>  
				  <p>  
					  <b>Message:</b> <?php echo $this->exception->getMessage() ?>  
				  </p>  
				  
				  <h3>Stack trace:</h3>  
				  <pre><?php echo $this->exception->getTraceAsString() ?>  
				  </pre>  
				  
				  <h3>Request Parameters:</h3>  
				  <pre><?php echo var_export($this->request->getParams(), true) ?>  
				  </pre>  
	<?php endif ?>
	
	<img src="<?= $this->baseUrl() ?>/public/images/too_sad.png" alt="smutny" />
					
	
