	<?php $this->layout()->setLayout('welcome'); ?>
	
<h2><?php echo $this->escape($this->title); ?></h2>

<p>Nie masz wystarczających uprawnień, aby wejść na tą stronę. Jeśli uważasz inaczej skontaktuj się z administratorem serwisu.</p>
	
