	
    <h2><?php echo $this->escape($this->title); ?></h2>
	
	<hr />
	<h3><?= $this->pac->imie." ".$this->pac->nazwisko ?></h3>
		
	<img src="<?= Application_Models_Photo::getMini($this->pac->id) ?>" alt="Awatar_<?= $this->pac->id ?>"/>
	<a href="<?= $this->baseUrl() ?>/doc">Zmień pacjenta</a>
	<hr />
	
	<?= $this->form; ?>

