	
    <h2><?php echo $this->escape($this->title); ?></h2>

	
	<?php
	if($this->lista != null){
		
		echo "<table class='shaded-table shaded-table-padding'>";
		echo "<tr>";
		echo "<th>l.p.</th>";
		echo "<th>zdjęcie</th>";
		echo "<th>imię</th>";
		echo "<th>nazwisko</th>";
		echo "<th>email</th>";
		echo "<th>Numer ubezpieczenia</th>";
		echo "<th>Stan autoryzacji</th>";
		echo "<th colspan=\"4\">Opcje</th>";
		
		$i=1;
		foreach($this->lista as $one){
		
			echo "<tr>";
			echo "<td>".$i.".</td>";
			echo "<td class='avatar'><img src=\"".$this->baseUrl().'/photo/mini/id/'.$one->id.".jpg\" /></td>";
			echo "<td><a href=\"".$this->baseUrl()."/index/show/id/".$one->id."\">".$one->imie."</a></td>";
			echo "<td><a href=\"".$this->baseUrl()."/index/show/id/".$one->id."\">".$one->nazwisko."</a></td>";
			echo "<td><a href=\"".$this->baseUrl()."/comm/send/?mailto=".$one->email."\">".$one->email."</a></td>";
			echo "<td class='small'>".$one->nrubez."</td>";
			if($one->isDoc==1){
				echo "<td class='small'>AUTORYZOWANY</td>";
			} else {
				echo "<td class='small'>NIEAUTORYZOWANY <a href=\"".$this->baseUrl()."/doc/auth/id/".$one->id."\">autoryzuj</a></td>";
			}
			echo "<td class='small'><a href=\"".$this->baseUrl()."/board/index/id/".$one->id."\">Raport</a></td>";
			echo "<td class='small'><a href=\"".$this->baseUrl()."/doc/medical/id/".$one->id."\">Lekarstwa</a></td>";
			echo "<td class='small'><a href=\"".$this->baseUrl()."/index/show/id/".$one->id."#ustpac\">Ustawienia</a></td>";
			echo "<td class='small'><a href=\"".$this->baseUrl()."/doc/delpat/id/".$one->id."\">usuń</a></td>";
			echo "</tr>";
		
			$i++;
		
		}
		echo "</table>";
	}
	
		
	?>
