
    <h2><?php echo $this->escape($this->title); ?></h2>

	<?= "<img src=\"".$this->baseUrl().'/photo/mini/id/'.$this->user->id.".jpg\" />"; ?>
	<ul>
	
		<li>imię: <?= $this->user->imie; ?></li>
		<li>nazwisko: <?= $this->user->nazwisko; ?></li>
		<li>email: <a href="<?= $this->baseUrl()."/comm/send/?mailto=".$this->user->email ?>"><?= $this->user->email; ?></a></li>
	
	
	</ul>
	
	
<h2 id="leki">Lekarstwa</h2>
<a href="<?= $this->baseUrl() ?>/doc/addmed/id/<?= $this->user->id ?>">Dodaj lek temu pacjentowi</a>
<?php
	echo "<table class='shaded-table'>";

	echo "<tr>";
	echo "<th>L.P.</th>";
	echo "<th>Nazwa leku</th>";
	echo "<th>Rodzaj</th>";
	echo "<th>Dawka</th>";
	echo "<th>Akcja</th>";
	echo "</tr>";
$i=1;	
foreach($this->leki as $lek){
	echo "<tr>";
	
	echo "<td>".$i."</td>";
	//echo "<td>".Rafyco_Template::data(new DateTime($lek->data),false)."</td>";
	echo "<td>".$lek->nazwa."</td>";
	echo "<td>".$lek->rodzaj."</td>";
	echo "<td>".$lek->ilosc."</td>";
	echo "<td><a href=\"".$this->baseUrl()."/doc/delmed/id/".$lek->idLeku."/pac/".$this->user->id."\" >Usuń lek</a></td>";
	
	
	echo "</tr>";
	
	$przy = Application_Models_Przyjmowanie::getPrzyjmowanie($lek->idLeku);
	
	echo "<tr><td></td><td colspan=\"4\">";
	echo "<ul>";
	foreach($przy as $p){
		
		$tempdate = new DateTime($p->data);
		$temptoday = new DateTime();
		
		echo "<li>".Rafyco_Template::data($tempdate,false)." - ";
		
		//Powinno być -3600 ale coś baza z php w datach mają poślizg
		if($tempdate->format("U") < $temptoday->format("U")){
			if($p->isprzyjal == 1){
				echo "przyjęty";
			} else {
				echo "nieprzyjęty";
			}
		} else {
			echo "oczekiwanie";
		}
		echo "</li>";
	}
	echo "</ul>";
	
	echo "</td></tr>";
	
	$i++;
}

echo "</table>";

echo $this->paginationControl($this->leki, 'Sliding', './paginator.phtml');
?>

