<h2><?php echo $this->escape($this->title); ?></h2>

<table class="shaded-table" >

<?php

	$i=1;

	foreach($this->dane as $dana){
		echo '<tr>';
			echo
				'<td>'.$dana->id.'</td>'.
				'<td class="avatar" ><img src="'.$this->baseUrl().'/photo/mini/id/'.$dana->id.'".jpg" /></td>'.
				'<td class="name" ><a href="'.$this->baseUrl().'/index/show/email/'.$dana->email.'" >'.$dana->imie.' '.$dana->nazwisko.'</a></td>'.		
				'<td class="email" ><a href="'.Rafyco_Template::email($dana->email).'">'.$dana->email.'</a></td>'.	
				'<td class="small" >'.Rafyco_Template::rola($dana->rola).'</td>';
			
			if($dana->status == 1){
				echo '<td class="small" >AKTYWNY</td>';
				echo '<td class="small" ><a href="'.$this->baseUrl().'/admin/disaccept/id/'.$dana->id.'">Zawieś konto</a></td>';	
			} else {
				echo '<td class="small" >NIEAKTYWNY</td>';	
				echo '<td class="small" ><a href="'.$this->baseUrl().'/admin/accept/id/'.$dana->id.'">Aktywuj</a></td>';
			}		
			
			echo '<td class="remove" ><a href="'.$this->baseUrl().'/admin/del/id/'.$dana->id.'" ><img src="'.$this->baseUrl().'/public/images/remove-icon.png" title="Usuń użytkownika" /></a></td>';
		echo '</tr>';
		$i++;
	}

?>

</table>

<?php echo $this->paginationControl($this->dane, 'Sliding', './paginator.phtml'); ?>

<?php echo $this->form; ?>

