<h2>Witaj !!! </h2>

<p>Chciałbym abyś został moim przyjacielem.</p>

<p>Zapraszam do obejrzenia mojego profilu pod adresem: <a href="<?php echo $this->adres; ?>"><?php echo $this->adres; ?>"</a>.</p>

<p>Możesz mnie dodać wchodząc pod ten adres: <a href="<?php echo $this->akcept; ?>"><?php echo $this->akcept; ?></a></p>

<p><?php echo $this->podpis; ?></p>

