<h2>Witaj <?php echo $this->imie; ?></h2>

<p>Pacjent: <a href="<?= $this->profil ?>"><?= $this->podpis ?></a> wproadził dane niezgodne z limitami.</p>

<p><a href="<?= $this->adres ?>">Raport pacjenta</a></p>

<p><ul>
<li>Ciśnienie skurczowe: <?= $this->cisskurcz ?></li>
<li>Ciśnienie rozkurczonowe: <?= $this->cisrozkurcz ?></li>
<li>Tętno: <?= $this->tetno ?></li>
</ul></p>

<p>Aby zmienić ustawienia temu pacjentowi <a href="<?= $this->profil ?>#ustpac">kliknij tutaj</a></p>

<p>HealtchCom</p>

<hr />

