<h2>Witaj <?php echo $this->imie; ?></h2>

<p>Masz na swoim kocie HealtchCom nową wiadomość od użytkownika<strong><?= $this->odkogo; ?></strong> o treści: </p>

<p><?php echo $this->tytul; ?></p>

<p><?php echo $this->tresc; ?></p> 

<p><a href="<?= $this->towiadom ?>">Kliknij po więcej</a>, lub jeśli nie chcesz więcej dostawać tego typu wiadomości wejdź na <a href="<?= $this->toustawienia ?>">ustawienia</a></p>

<p>HealtchCom</p>

<hr />

